.bio{
    grid-template-areas:
    	"picture"
    	"info"
    	"description"
    	"navigation"
}

.bio__info{
    grid-area: info;
}

.bio__picture{
    grid-area: picture;
    width: 50%;
    border-radius: 50%;
    filter: drop-shadow(0 0 4mm rgb(0 0 0));
}

.bio__navigation{
    grid-area: navigation;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 31%));
    gap: 20px;
    justify-content: center;
    list-style-type: none;
}

.bio__description{
    grid-area: description;
    text-align: center;
    align-items: center;

}

@media only screen and (min-width: 600px) {
    .bio{
        grid-template-columns: max-content minmax(200px, 600px);
        grid-template-rows:  auto min-content ;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        grid-template-areas:
            "picture description"
            "info    navigation ";
    }

    .bio__picture{
        width: 300px;
    }
}

@media only screen and (max-width: 950px) {
    .bio__button:nth-last-child(1){
        grid-column: span 2;
        width: 50%;
        justify-self: center;
    }
}
