.button{
    background: white;
    display: grid;
    border-spacing: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    justify-items: center;
    font-family: var(--primary-font);
    font-weight: bold;

    filter: drop-shadow(0 0 2mm rgb(0 0 0));
}

.button:hover{
    cursor: pointer;
    translate: 0 -5px;
}

.button--primary{
    background: var(--primary);
}

.button__link{
    text-decoration: none;
}

