:root {
    --bg-color-1: #9FACE6;
    --bg-color-2: #74EBD5;
    --rotation: 90deg;
    --primary-color: #9FACE6;
    --primary-font:  'Nunito', sans-serif;
    --secondary-font: 'Source Serif Pro', serif;
    --text-color: black;
    --max-content-width: 900px;
    --section-background: white;
}

body {
    margin: 0;
    font-family: var(--secondary-font);
    background-color: var(--bg-color-1);
    background-image: linear-gradient(var(--rotation), var(--bg-color-1) 0%, var(--bg-color-2) 100%);
    justify-content: center;
    display: grid;
    justify-items: center;
}


div{
    margin: 0;
}

a:visited{
    color: var(--text-color);
}

.material-icons {
    vertical-align: bottom;
}